html, body {
  margin: 0;
  padding: 0;
}

canvas {
    position: fixed;
    background-color: #222;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#toolbar-container {
    position: fixed;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    z-index: 2;
}

#toolbar {
    margin: auto;
    width: 60%;
}

.btn .btn-secondary {
    background-color: #222;
}
